# created by virtualenv automatically
outs/Conventionally_named_holes
outs/Conventionally_named_holes_ctrs
outs/Debug
outs/FED_00*
outs/All_Names.png
outs/detection_results.json
outs/test_3200dpi_90_ss_brightness1_sharpness1
outs/test_3200dpi_90_ss_brightness1_sharpness1--S
outs/*.zip
holes.json
outs/Cropped.jpg

venv
src_v1.*
__pycache__